@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nerko-one, sans-serif;
    font-weight: 400;
    color: darkslategray;
}

/* headings and logo */

h1,
h2 {
    font-family: Mali, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* hero image*/

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: floralwhite;
    }

#hero-image {
    height: 700px;
    width: 100%;
    background-image: url(../css/images/hero_image.jpg);


/* animates zoom effect on loading page*/
animation-name: hero-zoom;
animation-duration: 10s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: nerko-one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}