@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nerko-one, sans-serif;
    font-weight: 400;
    color:darkslategray;
}

/* headings and logo */

h1, h2 {
    font-family: Mali, sans-serif;
    letter-spacing: 4px;
    }

#logo {
    float:left;
    font-size: 300%;
}